# Global options
{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {
	log {
		format json
	}

	# ✅ Data API proxy routes (strip /graph prefix)
	handle_path /graph/* {
		reverse_proxy {$BACKEND_DOMAIN}:{$BACKEND_PORT} {
			# forward correct host (instead of IP:port)
			header_up Host {$BACKEND_DOMAIN}

			transport http {
				dial_timeout 30s
				versions ipv4
			}
		}
	}

	# ✅ Data API proxy routes (strip /markets prefix)
	handle_path /markets/* {
		reverse_proxy {$BACKEND_DOMAIN}:{$BACKEND_PORT} {
			header_up Host {$BACKEND_DOMAIN}

			transport http {
				dial_timeout 30s
				versions ipv4
			}
		}
	}

	# ✅ Frontend fallback (everything else)
	handle {
		reverse_proxy {$FRONTEND_DOMAIN}:{$FRONTEND_PORT} {
			header_up Host {$FRONTEND_DOMAIN}

			transport http {
				dial_timeout 30s
				versions ipv4
			}
		}
	}
}
